:root {
    --color-primary--bg: #4b4b4b;
    --color-component--container--border: gray;
    --color-component--bg: #aaa;
    --color-component--border: white;
    --color-nudge-bg: whitesmoke;
}

:global(.body) {
    height: 100vh;
    overflow-y: scroll;
    /* font-family: sans-serif;
   */
    font-family: "Crimson Text", serif;
    background-color: #0c0c0c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100rem;
    margin: auto;
}

.placeholder {
    color: var(--color-primary--bg);
    font-size: 1.6rem;
    font-weight: 900;
}

.todo-active header {
    background-color: #0c0c0c;
}

.btn-update {
    border: none;
    border-radius: 0.4rem;
    height: 2rem;
    width: 9rem;
    transform: translate(-12%, 18%);
    color: var(--color-primary--bg);
    background: #b1b1b1;
    cursor: pointer;
    font-size: 1.4rem;
}

.navbar {
    height: 3rem;
    display: flex;
}

.navbar-back--btn {
    color: var(--color-primary--bg);
    cursor: pointer;
}

.navbar-header-title {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    color: #7d7d7d;
}

.td-row {
    background-color: #4b4b4b;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* component section */
.component-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    height: 100%;
    overflow-y: scroll;
    /* margin-top: 2.6rem; */
}

.component-container--box {
    background-color: var(--color-component--bg);
    border: 1px solid var(--color-component--border);
    /* height: 10rem; */
    height: 11rem;
    position: relative;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
}
/* .component-container--box .td-complete:checked {
    fill: none;
    appearance: none;
    background: #fff;
    border: 2px solid gray;
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: 2px;
} */

.component-header {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.component-content-container {
    display: flex;
    flex-direction: column;
}

.component-content {
    margin-left: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2px;
}

.component-editted-bar {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(73%);
    /* width: 100%; */
}

/* Nudge component */
.nudge-btn {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 0.8rem;
    height: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-80%, 16%);
}

.nudge-actions {
    list-style: none;
}

.nudge-actions > li {
    font-size: 1.2rem;
}

.nudge-actions > li:hover {
    background-color: #efefef;
}

.nudge-action--btn,
.nudge-action--delete {
    /* font-size: 1rem; */
    padding: 0.5rem;
    cursor: pointer;
}

.nudge-action--btn:not(:last-child) {
    border-bottom: 1px solid var(--color-component--border);
}

.nudge-btn:hover > .nudge-action--bar {
    display: block;
}

.nudge-icon {
    width: 100%;
    height: 100%;
}

.nudge-btn-content {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: var(--color-primary--bg);
    border-radius: 50%;
}

.nudge-action--bar {
    background-color: var(--color-nudge-bg);
    width: 10rem;
    height: 7rem;
    overflow-y: scroll;
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 0.5rem;
    display: none;
}

.td-component--container {
    height: 94vh;
    border-inline: 2px solid var(--color-component--container--border);
    overflow: hidden;
    /* overflow-y: scroll; */
    /* hack */
    /* width: 334px; */
}

.td-render--container {
    height: 94vh;
    background-color: #b1b1b1;
}

.td-render-component-container-content {
}

.strike-through-task {
    text-decoration: line-through;
}

.td-render-todo--add-btn {
    background-color: #ededed;
    padding: 1.2rem 0;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
}

.td-render--body {
    background-color: #b1b1b1;
}

.td-render-component-container {
    margin-top: 3rem;
}

.td-render-component-title {
    padding-top: 2rem;
    padding-left: 2rem;
}

.td-render--content .draggable-component-btn {
    /* display: inline-block;
    transform: translateY(30%); */
}

.td-component-content {
    padding: 1rem 2rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 12fr;
    margin-bottom: 1rem;
    gap: 1.5rem;
}

/* render inputs */
.add-td-component-content {
    padding: 1rem 2rem;
    padding-top: 0;
    margin-bottom: 1rem;
    cursor: pointer;
}

.td-render-title {
    background-color: inherit;
    border: none;
    font-size: 2rem;
    width: 70%;
}

.td-render-title:focus,
.form-task-td:focus {
    outline: none;
}

.td-render-title[contenteditable="true"] {
    display: inline-block;
    background-color: inherit;
    caret-color: black;
    word-break: break-word;
}

.td-render-title[contenteditable="true"] > div {
    padding: 0;
}

.td-render-title[contenteditable="true"] > br {
    display: none;
    padding: 0;
}

.td-render-title br {
    display: none;
    padding: 0;
}

.td-render-title:empty::before {
    content: attr(placeholder) " ";
    -webkit-text-fill-color: var(--color-primary--bg);
    z-index: 200;
}

.td-render--content {
    width: 100%;
    overflow-x: hidden;
}

.td-component-content {
    padding: 1rem 2rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 12fr;
    margin-bottom: 1rem;
    gap: 1.5rem;
}

.td-component-actions {
    display: flex;
    gap: 0.8rem;
    align-items: start;
    justify-content: center;
    margin-top: 4px;
}

.td-component-actions-container {
    display: flex;
    gap: 0.8rem;
}

.td-complete {
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    display: inline-block;
    cursor: pointer;
}

.delete-component-btn {
    cursor: pointer;
}

.draggable-component-btn {
    cursor: grab;
}

.hidden {
    display: none !important;
}

:global(.html) {
    font-size: 62.5%;
}

.td-update-info {
    position: fixed;
    width: 30rem;
    height: 95vh;
    top: 3rem;
    background: #b5b1b1;
    /* right: 18.4rem; */
    transform: translate(233%);
    box-shadow: 0 0 3px;
    overflow-y: hidden;
}

.td-update-info {
    position: fixed;
    width: 30rem;
    height: 95vh;
    top: 3rem;
    background: #b5b1b1;
    /* right: 18.4rem; */
    transform: translate(233%);
    box-shadow: 0 0 3px;
    overflow-y: hidden;
}

.info-update-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8rem;
    padding: 0.8rem 0;
    margin-bottom: 2rem;
}

.info-update-content {
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    flex-direction: column;
}

.update-form-box {
    height: 4rem;
}

.update-form-box,
.update-form-box > input {
    width: 100%;
}

.update-form-box > input {
    color: var(--color-primary--bg);
    height: 100%;
    font-size: 1.6rem;
    background: #ededed;
    border: none;
    padding: 0 0 0 0.8rem;
}

.update-form-box > input::placeholder {
    padding-left: 0.4rem !important;
}

.update-form-box > input:focus {
    /* padding-left: 0.4rem; */
    outline: none;
}

.update-form-option {
    margin-bottom: 2rem;
}

.info-update-option-box {
    padding: 0.8rem 0rem !important;
}

.update-info-active .td-render--container {
    width: 36.5rem !important;
}

.update-info-active .td-render--content {
    overflow-x: scroll !important;
}

.updateInfo-box,
.updatePwd-box {
    /* font-size: 1rem !important; */
    white-space: nowrap;
}

.form-task-td {
    background-color: inherit;
    border: none;
    width: 80%;
    padding-top: 0;
    font-size: 1.8rem;
    word-break: break-word;
}

.form-task-td[contenteditable="true"] > div {
    padding: 0;
    /* display: none; */
}

.form-task-td[contenteditable="true"] > br {
    display: none;
    padding: 0;
}

.form-task-td br {
    display: none;
    padding: 0;
}

.sync-alert {
    display: flex;
    background: crimson;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    /* height: 3.4rem; */
    height: auto;
    min-height: 4rem;
    z-index: 1000;
    position: sticky;
}

.sync-msg {
    font-size: 1.6rem;
    color: #ededed;
}

.bd-radius {
    border-radius: 0.2rem;
}

.sync-btns {
    display: flex;
    gap: 1.4rem;
    margin-right: 1.4rem;
}

.btn-sync {
    height: 2.6rem;
    width: 8.6rem;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn-sync-now {
    color: var(--color-component--bg);
    background-color: var(--color-nudge-bg);
}

.btn-sync-later {
    background-color: var(--color-component--bg);
    color: #ededed;
}

.loader-sync-msg {
    font-size: 1.6rem;
    color: #ededed;
    position: absolute;
    width: 20rem;
    transform: translate(-6rem, 3.8rem);
}

/* --------------------------- */
/* BELOW 1000px (smaller desktops) */
/* ----------------------------- */
@media (max-width: 63em) {
    .container {
        width: 80rem;
    }

    .component-content {
        margin-left: 0;
    }

    .component-editted-bar {
        left: 3rem;
        transform: translateX(0);
    }

    .page-content {
        width: 60% !important;
    }

    .page-content-text {
        font-size: 5.8rem !important;
    }

    .overlay-content {
        left: 35% !important;
    }

    .overlay-content-above {
        left: 47% !important;
    }

    .alert {
        left: 40%;
    }

    /* .sync-alert{
    height: 4.4rem;
  } */

    /* .sync-btns {
        display: flex;
        gap: 1.4rem;
        margin-right: 1.4rem;
    } */

    .sync-msg {
        flex: 1 0 0;
        margin-left: 1.4rem;
    }

    .td-update-info {
        transform: translate(166%);
    }
}

/* --------------------------- */
/* BELOW 800px (tablets) */
/* ----------------------------- */
@media (max-width: 50em) {
    .container {
        width: 100%;
    }

    .td-row {
        grid-template-columns: 1fr 3.5fr;
    }

    .component-container {
        grid-template-columns: 1fr;
    }

    .component-editted-bar {
        width: 100%;
        left: 0;
    }

    .form-task-td {
        width: 80%;
    }

    .td-label-container {
        width: 80%;
    }

    .content-container .row {
        padding: 4rem 3rem !important;
    }

    .page-content-text {
        font-size: 5.4rem !important;
    }

    .page-content {
        width: 65% !important;
    }

    .overlay-content {
        left: 32% !important;
    }

    .overlay-content-above {
        left: 46% !important;
    }

    .alert {
        left: 37%;
    }

    .td-update-info {
        position: absolute !important;
        right: 0;
        transform: translateX(0%);
    }

    .td-render--container {
        position: relative;
    }
}

/* --------------------------- */
/* BELOW 650px (tablets) */
/* ----------------------------- */
@media (max-width: 41em) {
    /* * {
    border: 1px solid red;
  } */
    .td-row {
        grid-template-columns: 1.7fr 3.5fr;
    }

    /* .form-task-td {
    width: 65%;
  }

  .td-label-container {
    width: 65%;
  } */

    .form-task-td,
    .td-label-container {
        width: 85%;
    }

    .component-editted-bar {
        /* left: 35%; */
        transform: none;
    }

    .content-container .row {
        grid-template-columns: 1fr;
    }

    .page-content {
        width: 100% !important;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content-container .row {
        padding: 4rem 0rem !important;
    }

    .overlay-content {
        left: calc(28vw - 22px) !important;
        transform: translateX(-4%);
    }

    .overlay-content-above {
        left: 41% !important;
    }

    .alert {
        left: 30%;
    }
}

/* --------------------------- */
/* BELOW 450px (tablets) */
/* ----------------------------- */

@media (max-width: 29em) {
    .td-row {
        grid-template-columns: 1.7fr;
    }

    .component-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* activate for render container */
    .mobile-nav--hidden {
        display: none;
    }

    .draggable-component-btn {
        display: none;
    }

    .td-component-actions .draggable-component-btn {
        display: none;
    }

    .td-component-actions-container {
        gap: 0.8rem;
    }

    .page-content-text {
        font-size: 4.4rem !important;
    }

    .login-container {
        width: 26rem !important;
    }

    .login-option {
        white-space: nowrap;
    }

    .login-option::before {
        transform: translate(10.6rem, 1%) !important;
    }

    .overlay-content {
        left: calc(28vw - 31px) !important;
    }

    .alert {
        left: 24%;
    }
}

/* --------------------------- */
/* BELOW 350px (tablets) */
/* ----------------------------- */
@media (max-width: 22em) {
    .overlay-content {
        left: calc(28vw - 45px) !important;
    }

    .alert {
        left: 19%;
    }
}
